.mail-content {
  & h2 {
    font-size: 1rem;
    margin: 0;
  }

  & .contacts {
    font-size: 0.8rem;
    margin-bottom: 10px;
  }

  & .body {
    font-size: 0.8rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
